In [45]:
import pandas as pd
from scipy import stats
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import numpy as np

# 参数估计

## 一个总体参数的区间估计
### 总体均值的区间估计
#### 正态总体，方差已知，或非正态总体，大样本

1.一家食品生产企业以生产袋装食品为主,每天的产量大约为8000袋左右。按规定每袋的重量应为100g。为对产品质量进行检测,企业质检部门经常要进行抽检,按规定每袋的重量应为100g。为对产品质量进行检测,企业质检部门经常要进行抽检,重量如下.已知产品重量的分布,且总体标准差为10g,试估计该天产品平均质量的置信区间,以为95%建立该种食品重量方差的置信区间。

In [10]:
data=pd.read_excel('data/例7.1.xlsx',sep='\t',header=0)
data.head()

      重量
0  112.5
1  102.6
2  100.0
3  116.6
4  136.8

In [27]:
x = data[0:].mean()
x.values[0]

105.35999999999999

In [31]:
# Z= 1.96
min = x.values[0]-1.96*10/25**0.5
max = x.values[0]+1.96*10/25**0.5
print("["+str(min)+","+str(max)+"]")

[101.43999999999998,109.27999999999999]

2.一家保险公司收集到由36投保人组成的随机样本,得到每个投保人的年龄如下，建立90%的置信区间

In [25]:
data1=pd.read_excel('data/例7.2.xlsx',sep='\t',header=0)
data1.head()

   年龄
0  23
1  36
2  42
3  34
4  39

In [36]:
x1 = data1.mean()
x1

年龄    39.5
dtype: float64

In [40]:
c1 = data1.count().values[0]
c1

36

In [43]:
mu1 = data1[0:].std().values[0]
mu1

7.7735816345215945

In [44]:
#90% Z = 1.63
Z1 = 1.64
min = x1.values[0]-Z1*mu1/c1**0.5
max = x1.values[0]+Z1*mu1/c1**0.5
print("["+str(min)+","+str(max)+"]")

[37.37522101989743,41.62477898010257]

#### 正态总体，方差未知，小样本

1.已知某种灯泡的寿命服从正态分布，现从一批灯泡中随机抽取16只，测得其使用寿命（单位：h）如下：，试建立95%的置信区间

In [52]:
data2=pd.read_excel('data/例7.3.xlsx',sep='\t',header=0)
data2.head()

   使用寿命
0  1510
1  1480
2  1450
3  1510
4  1480

In [79]:
mean2 = data2.mean()
std2 = data2.std()
std2

使用寿命    24.765567
dtype: float64

In [78]:
stats.tsem(data2,ddof=1)

6.191391873668904

In [95]:
t = stats.t.interval(0.95,16-1,0,1)

In [96]:
t=stats.t.isf((1-0.95)/2,15)
t

2.131449545559323

In [97]:
stats.t.interval(0.95,15,mean2,stats.tsem(data2,ddof=1))

(array([1476.8033606]), array([1503.1966394]))

In [98]:
min = mean2.values[0]-t*std2/16**0.5
max = mean2.values[0]+t*std2/16**0.5
print("["+str(min)+","+str(max)+"]")

[使用寿命    1476.803361
dtype: float64,使用寿命    1503.196639
dtype: float64]

In [121]:
# stats.tsem(data2,ddof=1) = std/n**0.5 标准误
print(std2/4)
print(stats.tsem(data2,ddof=1))

使用寿命    6.191392
dtype: float64
6.191391873668904

#### 总体比例的区间估计

1.某城市想要估计下岗职工中女性所占的比例,采取重复抽样方法随机抽取了 100 名下岗职工,其中 65 人为女性。试以 95%的置信水平估计该城市下岗职工中女性比例的置信区间

In [123]:
p= 65/100

In [129]:
r = (p*(1-p)/100)**.5*1.96

In [130]:
print("["+str(p-r)+","+str(p+r)+"]")

[0.5565139582611394,0.7434860417388607]

#### 总体方差的区间估计

7.1的数据，95%的置信水平重量标准差的置信区间

In [147]:
data=pd.read_excel('data/例7.1.xlsx',sep='\t',header=0)
s2 = data.var()
s2

重量    93.209167
dtype: float64

In [157]:
start = stats.chi2.ppf(0.05, 24)
start

13.848425027170226

In [156]:
end = stats.chi2.ppf(0.95, 24)
end

36.41502850180731

In [159]:
print("["+str(24*s2/end)+","+str(24*s2/start)+"]")

[重量    61.43123
dtype: float64,重量    161.536059
dtype: float64]

### 两个总体参数的区间估计

#### 均值

某地区教育管理部门想估计两所中学的学生高考时的英语平均分数之差, 为此在两所中学独立抽取两个随机样本,有关数据如下，试建立建立两所中学高考英语平均分数之差的95%的置信区间.
中学1 中学2
n1=46 n2=33
x1=86 x2=78
s1=5.8 s2=7.2

In [166]:
k = (86-78)
l = 1.96*(5.8**2/46+7.2**2/33)**0.5

In [167]:
print("["+str(k-l)+","+str(k+l)+"]")

[5.0260828615704405,10.97391713842956]