In [4]:
import pandas as pd
from scipy import stats
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import numpy as np

# 参数估计

## 一个总体参数的区间估计
### 总体均值的区间估计
#### 正态总体，方差已知，或非正态总体，大样本

1.一家食品生产企业以生产袋装食品为主,每天的产量大约为8000袋左右。按规定每袋的重量应为100g。为对产品质量进行检测,企业质检部门经常要进行抽检,按规定每袋的重量应为100g。为对产品质量进行检测,企业质检部门经常要进行抽检,重量如下.已知产品重量的分布,且总体标准差为10g,试估计该天产品平均质量的置信区间,以为95%建立该种食品重量方差的置信区间。

In [10]:
data=pd.read_excel('data/例7.1.xlsx',sep='\t',header=0)
data.head()

      重量
0  112.5
1  102.6
2  100.0
3  116.6
4  136.8

In [27]:
x = data[0:].mean()
x.values[0]

105.35999999999999

In [31]:
# Z= 1.96
min = x.values[0]-1.96*10/25**0.5
max = x.values[0]+1.96*10/25**0.5
print("["+str(min)+","+str(max)+"]")

[101.43999999999998,109.27999999999999]

2.一家保险公司收集到由36投保人组成的随机样本,得到每个投保人的年龄如下，建立90%的置信区间

In [25]:
data1=pd.read_excel('data/例7.2.xlsx',sep='\t',header=0)
data1.head()

   年龄
0  23
1  36
2  42
3  34
4  39

In [36]:
x1 = data1.mean()
x1

年龄    39.5
dtype: float64

In [40]:
c1 = data1.count().values[0]
c1

36

In [43]:
mu1 = data1[0:].std().values[0]
mu1

7.7735816345215945

In [44]:
#90% Z = 1.63
Z1 = 1.64
min = x1.values[0]-Z1*mu1/c1**0.5
max = x1.values[0]+Z1*mu1/c1**0.5
print("["+str(min)+","+str(max)+"]")

[37.37522101989743,41.62477898010257]

#### 正态总体，方差未知，小样本

1.已知某种灯泡的寿命服从正态分布，现从一批灯泡中随机抽取16只，测得其使用寿命（单位：h）如下：，试建立95%的置信区间

In [52]:
data2=pd.read_excel('data/例7.3.xlsx',sep='\t',header=0)
data2.head()

   使用寿命
0  1510
1  1480
2  1450
3  1510
4  1480

In [79]:
mean2 = data2.mean()
std2 = data2.std()
std2

使用寿命    24.765567
dtype: float64

In [78]:
stats.tsem(data2,ddof=1)

6.191391873668904

In [95]:
t = stats.t.interval(0.95,16-1,0,1)

In [96]:
t=stats.t.isf((1-0.95)/2,15)
t

2.131449545559323

In [97]:
stats.t.interval(0.95,15,mean2,stats.tsem(data2,ddof=1))

(array([1476.8033606]), array([1503.1966394]))

In [98]:
min = mean2.values[0]-t*std2/16**0.5
max = mean2.values[0]+t*std2/16**0.5
print("["+str(min)+","+str(max)+"]")

[使用寿命    1476.803361
dtype: float64,使用寿命    1503.196639
dtype: float64]

In [121]:
# stats.tsem(data2,ddof=1) = std/n**0.5 标准误
print(std2/4)
print(stats.tsem(data2,ddof=1))

使用寿命    6.191392
dtype: float64
6.191391873668904

#### 总体比例的区间估计

1.某城市想要估计下岗职工中女性所占的比例,采取重复抽样方法随机抽取了 100 名下岗职工,其中 65 人为女性。试以 95%的置信水平估计该城市下岗职工中女性比例的置信区间

In [1]:
p=  0.705673

In [4]:
r = (p*(1-p)/100)**.5*1.96
r

0.08932496892470512

In [5]:
print("["+str(p-r)+","+str(p+r)+"]")

[0.6163480310752949,0.7949979689247051]

#### 总体方差的区间估计

7.1的数据，95%的置信水平重量标准差的置信区间

In [147]:
data=pd.read_excel('data/例7.1.xlsx',sep='\t',header=0)
s2 = data.var()
s2

重量    93.209167
dtype: float64

In [157]:
start = stats.chi2.ppf(0.05, 24)
start

13.848425027170226

In [156]:
end = stats.chi2.ppf(0.95, 24)
end

36.41502850180731

In [159]:
print("["+str(24*s2/end)+","+str(24*s2/start)+"]")

[重量    61.43123
dtype: float64,重量    161.536059
dtype: float64]

### 两个总体参数的区间估计

#### 均值 独立样本

大样本估计  
某地区教育管理部门想估计两所中学的学生高考时的英语平均分数之差, 为此在两所中学独立抽取两个随机样本,有关数据如下，试建立建立两所中学高考英语平均分数之差的95%的置信区间.
中学1 中学2  
n1=46 n2=33  
x1=86 x2=78  
s1=5.8 s2=7.2

In [1]:
k = (86-78)
l = 1.96*(5.8**2/46+7.2**2/33)**0.5

In [2]:
print("["+str(k-l)+","+str(k+l)+"]")

[5.0260828615704405,10.97391713842956]

小样本   
为估计两种方法组装产品所需时间的差异，分别对两种不同的组装方法各随机
安排12名工人，每个工人组装一件产品所需的时间(单位：min)下如表,假定两种方法组装产品的时间服从正态分布，且方差相等。试以95%的置信水平建立两种方法组装产品所需平均时间差值的置信区间

In [26]:
data3 = pd.read_excel('data/例7.7.xlsx',sep='\t',header=0)
data3

     方法1   方法2
0   28.3  27.6
1   30.1  22.2
2   29.0  31.0
3   37.6  33.8
4   32.1  20.0
5   28.8  30.2
6   36.0  31.7
7   37.2  26.0
8   38.5  32.0
9   34.4  31.2
10  28.0  33.4
11  30.0  26.5

In [33]:
mean1 = data3.iloc[:,0].mean()
mean2 = data3.iloc[:,1].mean()
std1 =data3.iloc[:,0].var()
std2 = data3.iloc[:,1].var()
size = len(data3)
size

12

In [34]:
s2p=((size-1)*std1+(size-1)*std2)/(size+size-2)
s2p

17.677272727272726

In [35]:
t=stats.t.isf(0.05/2,22)
t

2.073873067904015

In [36]:
rang = t*(s2p*(1/size+1/size))**.5
rang

3.559706386046247

In [37]:
print("["+str((mean1-mean2)-rang)+","+str((mean1-mean2)+rang)+"]")

[0.14029361395375606,7.25970638604625]

 沿用例 7.7 的数据,假定第一种方法随机安排 12 个工人,第二种方法随机安排8个工人,即n1=12,, n2=8。假设方差不等。求95%置信区间。

In [45]:
mean1 = data3.iloc[:,0].mean()
mean2 = data3.iloc[0:8,1].mean()
var1 =data3.iloc[:,0].var()
var2 = data3.iloc[0:8,1].var()

In [46]:
v=(var1/12+var2/8)**2/((var1/12)**2/11+(var2/8)**2/7)
v

13.137509181318418

In [50]:
t = stats.t.isf(0.05/2,v)
t

2.1580722875021703

In [52]:
rang = t*((var1/size+var2/8))**.5
rang

4.442792422433666

In [53]:
print("["+str((mean1-mean2)-rang)+","+str((mean1-mean2)+rang)+"]")

[0.24470757756633787,9.13029242243367]

#### 均值 匹配样本

有由10名学生组成的一个随机样本，让他们分别采用A和B两套数学试卷进行测试，数据如下。假定分数差服从正太分布，建立95%的差的置信区间

In [56]:
data4 = pd.read_excel('data/例7.9.xlsx',sep='\t',header=0)
data4

   学生编号  试卷A  试卷B  差值d
0     1   78   71    7
1     2   63   44   19
2     3   72   61   11
3     4   89   84    5
4     5   91   74   17
5     6   49   51   -2
6     7   68   55   13
7     8   76   60   16
8     9   85   77    8
9    10   55   39   16

In [57]:
dmean = data4.iloc[:,3].mean()
dmean

11.0

In [58]:
s = data4.iloc[:,3].std()
s

6.531972647421808

In [62]:
l = len(data4)
t = stats.t.isf(0.05/2,l)
r = t*s/l**0.5

In [63]:
print("["+str(dmean-r)+","+str(dmean+r)+"]")

[6.39757617776111,15.60242382223889]

#### 比例之差的区间估计

在某个电视节目的收视率调查中,从农村随机调查了 400 人,有 32%的人收看了该节 目;从城市随机调查了 500 人。有 45%的人收看了该节目,试以 95%的置信水平估计城市与农村收视率之差的置信区间

In [65]:
p1 = .45
p2 = .32
p = p1-p2
r= 1.96*(p1*(1-p1)/500+p2*(1-p2)/400)**.5

In [66]:
print("["+str(p-r)+","+str(p+r)+"]")

[0.06682229507175812,0.19317770492824188]

#### 方差比的区间估计

为研究男女学生在生活费支出(单位:元)上的差异,在某大学各抽取25名男学生和女学生，得到下面的结果：  
男学生：均值520 方差：260  
女学生：均值480 方差：280   
试以90%的置信水平估计男女学生生活费支出方差比的置信区间

In [70]:
f = stats.f.isf(0.05,24,24)
f

1.983759568489613

In [72]:
f1a = 1/f
f1a

0.5040933467362559

In [74]:
print("["+str((260/280/f))+","+str(260/280/f1a)+"]")

[0.4680866791122377,1.8420624564546408]

# 表格
![table1](./img/table1.jpg)
![table2](./img/table2.jpg)

## 样本量

### 均值

拥有工商管理学士学位的大学毕业生年薪的标准差大约为2000元,假定想 拥有工商管理学士学位的大学毕业生年薪的标准差大约为2000元,假定想要以95%的置信水平估计年薪的置信区间，希望误差为400元，应抽取多少样本

In [76]:
n=1.96**2*2000**2/400**2
n

96.03999999999999

根据以往的生产统计,某种产品的合格率约为 90%,现要求边际误差为 5%,在求置信水平为 95%的置信区间 时,应抽取多少个产品作为样本

In [112]:
pi = .9
z=1.96
E=.05
n=((1.96**2)*((1-pi)*pi))/(E**2)
n

138.29759999999993